* {
  box-sizing: border-box;
}
header {
  padding-top: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
}

body {
  background-image: url(images/finalBG.jpg);
  background-size: cover;
  background-position: center;

  min-height: 100vh;
  min-width: 100vw;
}

.quiz-start-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  background-color: rgba(243, 243, 243, 0.918);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;

  width: 90vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  border-radius: 15px;
}
.feedback-correct {
  display: none;
}
.feedback-incorrect {
  display: none;
}
.end-page {
  text-align: center;
}
/*
.score-display{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}
*/
